.fixed-size-image {
    width: 400px;
    height: auto;
}

.highlight {
    font-weight: 800;
    /*color: #0000FF;*/
}

/* Custom CSS to ensure the card body expands to fill available space */
.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto; /* Pushes the button to the bottom of the card */
}

.edit-button {
    background-color: #f8f9fa; /* Light gray background */
    color: black;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.medium-text{
    font-size: 25px;
    font-weight: 400;
    padding-right: 10px;
}

.custom-line {
    width: 100%; /* Full width of its container */
    height: 1px; /* Thickness of the line */
    background-color: darkgrey; /* Color of the line */
    border: none; /* Remove any default border */
}
  
body {
    background-color: #FFFFF7;
}

/* one color scheme example*/

.base {
    color: #004175;
}

.accent {
    color: #FF6B6B;
}

.lightGrey {
    color: #F0F0F0;
}

.darkGrey {
    color: #333333;
}
