.fixed-size-image {
    width: 400px;
    height: auto;
}
.highlight {
    font-weight: 800;
    /*color: #0000FF;*/
}
/* Custom CSS to ensure the card body expands to fill available space */
.card-body {
    display: flex;
    flex-direction: column;
}
.card-body .btn {
    margin-top: auto; /* Pushes the button to the bottom of the card */
}
.edit-button {
    background-color: #f8f9fa; /* Light gray background */
    color: black;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.medium-text{
    font-size: 25px;
    font-weight: 400;
    padding-right: 10px;
}
.custom-line {
    width: 100%; /* Full width of its container */
    height: 1px; /* Thickness of the line */
    background-color: darkgrey; /* Color of the line */
    border: none; /* Remove any default border */
} 
body {
    background-color: #FFFFF7;
}
/* one color scheme example*/
.base {
    color: #004175;
}
.accent {
    color: #FF6B6B;
}
.lightGrey {
    color: #F0F0F0;
}
.darkGrey {
    color: #333333;
}
.intro {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: grey;
    position: relative;
    top: -10px;
}
.image-modified {
    height: 225px;
}
.home-space {
    margin-right: 27px;
}
.centering {
    position: relative;
    right: -493px;
}
.type-space1 {
    margin-left: 30px;
}
.type-space2 {
    margin-left: 6px;
}
.type-space3 {
    margin-left: -8px;
}
.type-size {
    height: 270px;
    width: auto;
}
.type-bottom {
    margin-top: 15px;
}
.type-bottom-text {
    margin-left: 100px;
    position: relative;
    top: 11px;
    color: grey;
}
.type-bottom-bottom {
    margin-left: 180px;
}
.lesson-intro {
    margin-top: 20px;
}
.type-size-3 {
    height: 200px;
    width: auto;
}
.type-2-adjust {
    margin-left: 27px;
}
.type-3-adjust {
    margin-left: -100px;
}
.mechanic-adjust {
    margin-left: 70px;
}
.mechanic-adjust-2 {
    margin-left: 40px;
}
.mech-text-adjust {
    position: relative;
    left: -27px;
}
.type-alt-size {
    height: 350px;
    width: auto;
}
.type-overview {
    margin-left: -55px;
}
.type-overview-alt-size {
    height: 270px;
    width: auto;
}
.mechanic-overview-alt-size {
    height: 225px;
    width: auto;
}
.recognition-overview-alt-size {
    height: 225px;
    width: auto;
}