{% extends "layout.html" %}

{% block content %}

<!-- To show a particular kdrama -->
<script>
    function goToEditPage(id) {
        window.location.href = `/edit/${id}`;
    }
    var current_time = "{{ current_time }}";
    var elapsed_time = parseFloat("{{ elapsed_time }}").toFixed(2);
    console.log("Current time:", current_time);
    console.log("Elapsed time:", elapsed_time, "minutes");
</script>

<br>
<!-- Content for the first column -->
{% if number == 2 %}
<h1>
    You and Card Mechanics Example
</h1>
{% else %}
<h1>
    You and Card Recognition Example
</h1>
{% endif %}

<br>
{% if number == 2 %}
<div>
    <span class="intro">
        <i>If you have your cards add up to 8 in your hand in blackjack and you want to aim to get close to 21, you will want to <br> wait for a positive count to have better odds on drawing one of the following to achieve your goal of getting close to 21.</i>
    </span>
</div>
{% else %}
<div>
    <span class="intro">
        <i>If you have these three card draws in a game of blackjack and started from a mental count of 0, the count will be +2 <br> which means that the higher rank cards are more likely to be drawn next within the subsequent card draws in game.</i>
    </span>
</div>
{% endif %}

{% if number == 2 %}
<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-12">
        <img src="{{ url_for('static', filename='10toA.png') }}" alt="Logo" class="type-overview-alt-size type-overview mechanics-example">
    </div>
</div>
{% else %}
<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-12">
        <img src="{{ url_for('static', filename='836.png') }}" alt="Logo" class="recognition-overview-alt-size">
    </div>
</div>
{% endif %}

<br>
{% if number == 2 %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/overview/2" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i> </i></span></div>
    <div class="col-md-4"><a href="/quiz2/1" class="btn btn-primary mt-auto type-bottom-bottom">Take Quiz</a></div>
</div>
{% else %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/overview/3" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i> </i></span></div>
    <div class="col-md-4"><a href="/quiz3/1" class="btn btn-primary mt-auto type-bottom-bottom">Take Quiz</a></div>
</div>
{% endif %}

{% endblock %}