{% extends "layout.html" %}

{% block content %}

<!-- To show a particular kdrama -->
<script>
    function goToEditPage(id) {
        window.location.href = `/edit/${id}`;
    }
</script>

<br>
<!-- Content for the first column -->
<h1>
    You and {{ item.title }}
</h1>
<br>
{% if item.id == 1 %}
<div>
    <span class="intro"><i>This lessons serves to introduce you the basics card types in counting cards to help create a foundation to the skill.</i></span>
</div>
{% elif item.id == 2 %}
<div>
    <span class="intro"><i>This lessons serves to introduce you the basics card mechanics in counting cards to help extend on your current skill.</i></span>
</div>
{% else %}
<div>
    <span class="intro"><i>This lessons serves to introduce you the basics card recognition groups in counting cards to cap off your beginner skill.</i></span>
</div>
{% endif %}

<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='1to6.png') }}" alt="Logo" class="type-size">
    </div>
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='7to9.png') }}" alt="Logo" class="type-size type-space1">
    </div>
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='jtok.png') }}" alt="Logo" class="type-size type-space2">
    </div>
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='a.png') }}" alt="Logo" class="type-size">
    </div>
</div>
<br>
{% if item.id == 1 %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i>Select a type</i></span></div>
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% elif item.id == 2 %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i>Select mechanic</i></span></div>
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% else %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i>Select a group</i></span></div>
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% endif %}

{% endblock %}