{% extends "layout.html" %}

{% block content %}

<!-- To show a particular kdrama -->
<script>
    function goToEditPage(id) {
        window.location.href = `/edit/${id}`;
    }
</script>

<br>
<!-- Content for the first column -->
<h1>
    You and {{ item.title }}
</h1>
<br>
{% if item.id == 1 %}
<div>
    <span class="intro">
        <i>This lessons serves to introduce you the basics card types in counting cards to help create a foundation to the skill.</i>
    </span>
</div>
{% elif item.id == 2 %}
<div>
    <span class="intro">
        <i>This lessons serves to introduce you the basics card mechanics in counting cards to help extend on your current skill.</i>
        <br>
        Following options serves to introduce you to a basic card counting mechanic that makes up basic Hi-Lo strategy.
    </span>
</div>
{% else %}
<div>
    <span class="intro">
        <i>This lessons serves to introduce you the basics card recognition groups in counting cards to cap off your beginner skill.</i>
        <br>
        Start with a mental count of 0 before cards are drawn, after cards in these groups are drawn, each draw can change it!
    </span>
</div>
{% endif %}

{% if item.id == 1 %}
<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-3">
        <a href="/type/1">
            <img src="{{ url_for('static', filename='1to6.png') }}" alt="Logo" class="type-size">
        </a>
    </div>
    <div class="col-md-3">
        <a href="/type/2">
            <img src="{{ url_for('static', filename='7to9.png') }}" alt="Logo" class="type-size type-space1">
        </a>
    </div>
    <div class="col-md-3">
        <a href="/type/3">
            <img src="{{ url_for('static', filename='jtok.png') }}" alt="Logo" class="type-size type-space2">
        </a>
    </div>
    <div class="col-md-3">
        <a href="/type/4">
            <img src="{{ url_for('static', filename='a.png') }}" alt="Logo" class="type-size type-space3">
        </a>
    </div>
</div>
{% elif item.id == 2 %}
<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='Negative.png') }}" alt="Logo" class="type-size-3">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='Neutral.png') }}" alt="Logo" class="type-size-3 mechanic-adjust-2">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='Positive.png') }}" alt="Logo" class="type-size-3 mechanic-adjust">
    </div>
</div>
{% else %}
<div class="row lesson-intro"> <!-- Top row -->
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='RedGroup.png') }}" alt="Logo" class="type-size-3">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='GreyGroup.png') }}" alt="Logo" class="type-size-3 type-2-adjust">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='GreenGroup.png') }}" alt="Logo" class="type-size-3 type-3-adjust">
    </div>
</div>
{% endif %}

<br>
{% if item.id == 1 %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i>Select a type</i></span></div>
    <div class="col-md-4"><a href="/overview/1" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% elif item.id == 2 %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro mech-text-adjust"><i>Select mechanic</i></span></div>
    <div class="col-md-4"><a href="/overview/2" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% else %}
<div class="row type-bottom"> <!-- Top row -->
    <div class="col-md-4"><a href="/" class="btn btn-primary mt-auto">Back</a></div>
    <div class="col-md-4"><span class="type-bottom-text intro"><i>Select a group</i></span></div>
    <div class="col-md-4"><a href="/overview/3" class="btn btn-primary mt-auto type-bottom-bottom">Overview</a></div>
</div>
{% endif %}

{% endblock %}