{% extends "layout.html" %}

{% block content %}

<!-- To show a particular kdrama -->
<script>
    function redirectToQuiz( state) {
        // Assuming 'id' is always '1' in this example.
        // Change the URL path to match your application's routing structure.
        window.location.href = '/quiz2/' + state;
  }
</script>

<br>

<!-- Quiz 1 -->
{% if state == 1 %}
<div class="quiz-title-space">
    <h1>
        You And Card Mechanics Topic Quiz
    </h1>
</div>
    <div>
        <span class="intro">
            <i>The following is your hand in a game of blackjack and the count is positive (+). Should you hit or should you stand?
            </i>
        </span>

        <div class="row lesson-intro"> <!-- Image -->
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='quiz2_1.png') }}" alt="Logo" class="type-overview-alt-size type-overview card-border-minus-1">
            </div>
        </div>

        <div class="quiz-button-container-1">
            <button class="quiz-button" onclick="redirectToQuiz(2)">Hit</button>
            <button class="quiz-button" onclick="redirectToQuiz(3)">Stand</button> <!-- Correct -->
        </div>
    </div>
{% elif state in [2, 3] %} <!-- The incorrect / correct section -->
<div class="quiz-title-space">
    <h1>
    {% if state == 2 %}
        Correct!
    {% else %}
        Incorrect!
    {% endif %}
    </h1>
</div>
    <div>
        <span class="intro">
            <i>The following is your hand in a game of blackjack and the count is positive (+). Should you hit or should you stand?
            </i>
        </span>

        <div class="row lesson-intro"> <!-- Image -->
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='quiz2_1.png') }}" alt="Logo" class="type-overview-alt-size type-overview card-border-minus-1">
            </div>
        </div>

        <div class="quiz-button-container-1">
            <button class="quiz-button-green" onclick="redirectToQuiz(2)">Hit</button> <!-- Correct -->
            <button class="quiz-button-red" onclick="redirectToQuiz(3)">Stand</button> 
        </div>

        <div class="row type-bottom"> <!-- the buttons towards the bottom -->
            <div class="col-md-4"><a href="/quiz2/1" class="btn btn-primary mt-auto">Back</a></div>
            <div class="col-md-4"><span class="type-bottom-text intro"><i> </i></span></div>
            <div class="col-md-4"><a href="/home" class="btn btn-primary mt-auto type-bottom-bottom">Home</a></div>
        </div>
    </div>
{% endif %}

{% endblock %}