<html>
  <head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    <title>Counting Cards</title>
  </head>
  <body>

<script>
        var current_time = "{{ current_time }}";
        console.log("Current time:", current_time);
</script>

<br>

<!-- Top Rated Kdramas to Watch-->
<!-- Remember, this is wrapped in a container -->


<br>
<div class ="start">
    <h1>
        Card Counting For Blackjack Technical Prototype
    </h1>
    
    <br>
    
    <div>
        <span class="intro"><i>This is the starting screen, click start to begin your learning journey</i></span>
    </div>
    <br>
    <a href="/home" class="btn btn-primary mt-auto start-button">Start</a>
</div>
</body>
</html>